.ipynb_checkpoints/50_Startup_DataSet-Deneme-checkpoint.ipynb
.ipynb_checkpoints/altinciHafta-checkpoint.ipynb
.ipynb_checkpoints/besinciHafta-checkpoint.ipynb
.ipynb_checkpoints/dorduncuHafta-checkpoint.ipynb
.ipynb_checkpoints/finalOncesiSon12-checkpoint.ipynb
.ipynb_checkpoints/FinalOncesiSon13-checkpoint.ipynb
.ipynb_checkpoints/Fish-checkpoint.ipynb
.ipynb_checkpoints/FishClustering-checkpoint.ipynb
.ipynb_checkpoints/FishLinearRegression-checkpoint.ipynb
.ipynb_checkpoints/gender_classification_v7 Dataset-Deneme-checkpoint.ipynb
.ipynb_checkpoints/Hafta9-checkpoint.ipynb
.ipynb_checkpoints/Hafta9FinalÇalışması-checkpoint.ipynb
.ipynb_checkpoints/Hafta10FinalÇalışması-checkpoint.ipynb
.ipynb_checkpoints/Hafta11FinalÇalışması-checkpoint.ipynb
.ipynb_checkpoints/JoinCalisma-checkpoint.ipynb
.ipynb_checkpoints/haftaOndort-checkpoint.ipynb
.ipynb_checkpoints/Kumeleme14HaftaTekrar-checkpoint.ipynb
.ipynb_checkpoints/onBirinciHafta-checkpoint.ipynb
.ipynb_checkpoints/onikinciHafta-checkpoint.ipynb
.ipynb_checkpoints/onUcuncuHafta-checkpoint.ipynb
.ipynb_checkpoints/onuncu_Hafta-checkpoint.ipynb
.ipynb_checkpoints/thirdexample-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/yedinciHafta-checkpoint.ipynb
